<div class="flex-grow" >
    <div class="flex flex-col gap-4 mt-4 px-3" *ngIf="loaderSubject | async">
      <div *ngFor="let i of Array(15)" class="skeleton h-4 w-full">
      </div>
    </div>
    <ul class="menu rounded-box  mt-4 px-3 ">
      <li *ngFor="let item of menuItems ;let i = index">
        <a *ngIf="item?.children.length === 0; else subMenu1"
           class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
           [routerLink]="item?.routerLink" [routerLinkActive]="'bg-primary text-base-100'">
          <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
          <span *ngIf="!(isCollapsed$ | async)">
          {{ item.title }}
          </span>
        </a>
        <ng-template #subMenu1>
          <a *ngIf="(isCollapsed$ | async)"
             class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
             [routerLink]="item?.routerLink" [routerLinkActive]="'bg-primary text-base-100'">
            <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
            <span *ngIf="!(isCollapsed$ | async)">
          {{ item.title }}
          </span>
          </a>

          <details  *ngIf="!(isCollapsed$ | async)" [open]="this.activeParentId() === item.id">
            <summary class="cursor-pointer hover:bg-primary hover:text-base-100 mb-1" [ngClass]="this.activeParentId() === item.id ? 'bg-base-200' : '' ">
              <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
              <span *ngIf="!(isCollapsed$ | async)">
              {{ item.title }}
              </span>
            </summary>
            <ul *ngIf="!(isCollapsed$ | async)">
              <li *ngFor="let subItem1 of item?.children">
                <a
                  [routerLink]="subItem1?.routerLink"
                  [routerLinkActive]="'bg-primary text-base-100'"
                  class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
                  *ngIf="subItem1.children.length === 0; else subMenu2">
                  <span *ngIf="!(isCollapsed$ | async)">
                  {{ subItem1.title }}
                  </span>
                </a>
                <ng-template #subMenu2>
                  <details [open]="this.count() === subItem1.id">
                    <summary class="cursor-pointer hover:bg-primary hover:text-base-100 mb-1" [ngClass]="this.count() === subItem1.id ? 'bg-base-200' : '' ">
                      <i class="{{ subItem1.icon ?? 'fa-solid fa-fan' }} me-2"></i>
                      {{ subItem1.title }}
                    </summary>
                    <ul>
                      <li *ngFor="let subItem2 of subItem1?.children">
                        <a
                          class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
                          [routerLink]="subItem2?.routerLink"
                          [routerLinkActive]="'bg-primary text-base-100'">
                          <i class="{{ subItem2.icon ?? 'fa-solid fa-fan' }} me-2"></i>
                          {{ subItem2.title }}
                        </a>
                      </li>
                    </ul>
                  </details>
                </ng-template>
              </li>
            </ul>
          </details>
        </ng-template>
      </li>
    </ul>
  </div>
