    <div class="flex items-center">
      <div *ngIf="isCollapsed$ | async" class="flex items-center mr-4">
        <img
          [ngSrc]="'./assets/media/logos/bracit-logo.svg'"
          [width]="100"
          [height]="100"
          alt="BRAC IT Services"
        />
      </div>
      
      <div class="breadcrumbs text-sm px-1">
        <ul class="flex space-x-1">
          <li *ngFor="let crumb of breadcrumbs; let last = last;" class="text-dark">
            <ng-container *ngIf="!last; else lastCrumb">
              <a [routerLink]="crumb.link" class="text-dark">
                <i *ngIf="crumb.label === 'Home'" class="fa fa-home text-dark me-1" aria-hidden="true"></i>
                {{ crumb.label }}
              </a>
            </ng-container>
            <ng-template #lastCrumb><a class="text-dark">
              <i *ngIf="crumb.label === 'Home'" class="fa fa-home text-dark me-1" aria-hidden="true"></i>
              {{ crumb.label }}</a></ng-template>
          </li>
        </ul>
      </div>
    </div>