Layouts
Templates
SMS/Email Notification History
Web Notifications
Home
Layouts
Notification Service Admin Console<div class="flex h-screen"> 
  
  <div
[ngClass]="{
 'w-64': !(isCollapsed$ | async),
  'w-0': isCollapsed$ | async
   }"
      class="h-screen bg-gray-600 text-white transition-all duration-300"
    >
      <app-sidebar></app-sidebar>
 </div>


 <div class="flex flex-col flex-grow bg-gray-50">
 <app-navbar></app-navbar>
 
 <div class="p-6  h-[calc(100vh-150px)] overflow-y-auto"> 
  <router-outlet></router-outlet>
 </div>

 <div class="bg-200 flex justify-end">
 <app-footer></app-footer>
 </div>

  </div>




  
  
