<nav class="flex flex-col h-full">
  <div class="flex items-center justify-between">
    <div class="flex">
      <app-sidebar-toggler></app-sidebar-toggler>
    </div>
  </div>

  <div class="flex-grow overflow-y-auto">
    <ul class="mt-4 px-4">
      <li *ngFor="let item of menuItems" class="mb-4">
        <a
          [routerLink]="item.route"
          class="flex items-center text-sm whitespace-nowrap rounded h-10"
          [ngClass]="{
            'bg-gray-200 text-black font-bold': selectedLabel === item.label,
            'text-white hover:bg-gray-200 hover:cursor-pointer hover:text-black hover:font-bold': selectedLabel !== item.label
          }"
          (click)="selectItem(item.label)"
        >
          <span *ngIf="!(isCollapsed$ | async)" class="ml-2">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
