<nav class="flex flex-col h-full shadow-left">
  <div class="flex items-center items-start">
    <div class="flex">
      <app-sidebar-toggler></app-sidebar-toggler>
    </div>
    <div class="flex" *ngIf="!(isCollapsed$ | async)">
      <a href="/">
        <img
          [ngSrc]="'./assets/media/logos/bracit-logo.svg'"
          [width]="100"
          [height]="100"
          alt="BRAC IT Services"
        />
      </a>
    </div>
  </div>

  <div class="flex-grow overflow-y-auto">
    <div class="flex flex-col gap-4 mt-4 px-3" *ngIf="loaderSubject | async">
        <div *ngFor="let i of Array(15)" class="skeleton h-4 w-full">
        </div>
    </div>
    <ul class="menu rounded-box  mt-4 px-3" >
      <ng-content *ngIf="!(isCollapsed$ | async) ; else list">
        <li *ngFor="let item of menuItems ;let i = index" >
          <a *ngIf="item?.children.length === 0; else subMenu1" class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1" [routerLink]="item?.routerLink"   [routerLinkActive]="'bg-primary text-base-100'">
            <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
            <span>
          {{ item.title }}
          </span>
          </a>
          <ng-template #subMenu1>
            <details open>
              <summary  class="cursor-pointer hover:bg-primary hover:text-base-100 mb-1">
                <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
                {{ item.title }}
              </summary>
              <ul>
                <li *ngFor="let subItem1 of item?.children">
                  <a
                    [routerLink]="subItem1?.routerLink"
                    [routerLinkActive]="'bg-primary text-base-100'"
                    class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
                    *ngIf="subItem1.children.length === 0; else subMenu2">
                    {{ subItem1.title }}
                  </a>
                  <ng-template #subMenu2>
                    <details  [open]="false" >
                      <summary class="cursor-pointer hover:bg-primary hover:text-base-100 mb-1">
                        <i class="{{ subItem1.icon ?? 'fa-solid fa-fan' }} me-2"></i>
                        {{ subItem1.title }}
                      </summary>
                      <ul >
                        <li *ngFor="let subItem2 of subItem1?.children">
                          <a
                            class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1"
                            [routerLink]="subItem2?.routerLink"
                            [routerLinkActive]="'bg-primary text-base-100'">
                            <i class="{{ subItem2.icon ?? 'fa-solid fa-fan' }} me-2"></i>
                            {{ subItem2.title }}
                          </a>
                        </li>
                      </ul>
                    </details>
                  </ng-template>
                </li>
              </ul>
            </details>
          </ng-template>
        </li>
      </ng-content>
      <ng-template #list>
        <li *ngFor="let item of menuItems" >
          <a *ngIf="item?.children.length === 0 ; else subMenu1"
             class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1" [routerLink]="item?.routerLink"   [routerLinkActive]="'bg-primary text-base-100'">
            <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
          </a>
          <ng-template #subMenu1>
            <a  class="cursor-pointer hover:bg-primary hover:text-base-100 focus:bg-primary focus:text-base-100 mb-1" [routerLink]="item?.routerLink"   [routerLinkActive]="'bg-primary text-base-100'">
              <i class="{{ item.icon ?? 'fa-solid fa-fan' }} me-2"></i>
            </a>
          </ng-template>
        </li>
      </ng-template>

    </ul>
  </div>
</nav>


