@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@bracit/angular/easy-grid/_index.scss";


/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply overflow-hidden
}

.d-none {
  @apply hidden
}

.mat-warn {
  color: red !important;
}

.mat-primary {
  color: blue !important;
}

.text-hover-primary {
  @apply text-secondary
}
//:root{
//  ::-webkit-scrollbar {
//    width: 12px !important; /* Width of the scrollbar */
//  }
//
//  ::-webkit-scrollbar-thumb {
//    background: linear-gradient(135deg, #6c63ff, #bfa5ff) !important;
//    border-radius: 10px !important; /* Rounded edges */
//    border: 3px solid #f3f3f3 !important;/* Matches the background */
//  }
//
//  ::-webkit-scrollbar-track {
//    background: #f3f3f3  !important;/* Track background */
//    border-radius: 10px !important;/* Rounded edges for the track */
//    margin: 5px 0 !important;/* Optional spacing between scrollbar and container */
//  }

//}





html {
  scroll-behavior: smooth !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



 .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch {
    border-width: var(--mdc-outlined-text-field-outline-width);
    border-top-width: 1px !important ;
    border-right-width: 0 !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important; 
}


