<div class="min-h-20 bg-gray-800 text-white flex flex-col px-5 border-b">

  <div class="breadcrumbs text-sm px-2">
    <ul class="flex space-x-1">
      <li><a routerLink="/" class="text-white hover:text-gray-300">Home</a></li>
      <li *ngFor="let crumb of breadcrumbs; let last = last" class="text-white">
        <ng-container *ngIf="!last; else lastCrumb">
          <a [routerLink]="crumb.link" class="text-white hover:text-gray-300">{{ crumb.label }}</a>
        </ng-container>
        <ng-template #lastCrumb>{{ crumb.label }}</ng-template>
      </li>
    </ul>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <app-sidebar-toggler *ngIf="isCollapsed$ | async"></app-sidebar-toggler>
    </div>
    <h2 class="text-lg font-bold flex-start flex-grow">Notification Service Admin Console</h2>
  </div>
</div>
